  html {
    box-sizing: border-box;
    text-size-adjust: 100%;
    height: 100%;
  }
  
  body {
    margin: 0;
    font-family: Georgia, "Times new Roman", serif;
    height: 100%;
    background: lightblue;
    color: black;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
  }

  .App {
    display: flex;
    height: 100%;
  }
  
  .error-message {
    background-color: red;
    color: white;
    padding: 1em;
  }

  .nav {
    display: flex;
    flex-flow: row wrap;
    /* This aligns items to the end line on main-axis */
    justify-content: flex-start;
    list-style: none;
    margin: 0; 
    
    background: deepskyblue;
  }
  
  .nav li {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: white;
  }
  