  html {
    box-sizing: border-box;
    text-size-adjust: 100%;
    height: 100%;
  }
  
  body {
    margin: 0;
    font-family: Georgia, "Times new Roman", serif;
    height: 100%;
    background: rgb(144, 184, 236);
    color: black;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
  }
  
  .App {
    display: flex;
    height: 100%;
  }
  
  .error-message {
    background-color: red;
    color: white;
    padding: 1em;
  }