  
  body {
    margin: 0;
    font-family: Georgia, "Times new Roman", serif;
    height: 100%;
    background: lightblue;
    color: black;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
  }

  #container {
    display: flex;           /* establish flex container */
    flex-direction: column;  /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
    align-items: center;     /* center items horizontally, in this case */
    height: 750px;
  }

  .box {
      width: 300px;
      margin: 5px;
      text-align: center;     /* will center text in <p>, which is not a flex item */
  }
  
  .error-message {
    background-color: red;
    color: white;
    padding: 1em;
  }

  .nav {
    display: flex;
    flex-flow: row wrap;
    /* This aligns items to the end line on main-axis */
    justify-content: flex-start;
    list-style: none;
    margin: 0; 
    
    background: deepskyblue;
  }
  
  .nav li {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: white;
  }